In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
np.random.seed(0)

In [5]:
iris=load_iris()
df=pd.DataFrame(iris.data, columns = iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
df['species'] = pd.Categorical.from_codes(iris.target,iris.target_names)

In [7]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [8]:
df['is_train'] = np.random.uniform(0,1,len(df))<=0.75

In [9]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,True
146,6.3,2.5,5.0,1.9,virginica,True
147,6.5,3.0,5.2,2.0,virginica,False
148,6.2,3.4,5.4,2.3,virginica,True
149,5.9,3.0,5.1,1.8,virginica,False

In [10]:
train,test = df[df['is_train'] == True], df[df['is_train'] == False]

In [11]:
print('the number of observation in the training:', len(train))
print('the number of observation in the test:', len(test))

the number of observation in the training: 118
the number of observation in the test: 32

In [25]:
features = df.columns[:4]

In [26]:
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [27]:
y = pd.factorize(train['species'][0])

In [54]:
y

(array([0, 0, 0, 0, 0, 0], dtype=int64), array(['setosa'], dtype=object))

In [ ]:
clf = RandomForestClassifier(n_jobs=2 , random_state=0 )
clf.fit(train[features], y)

In [ ]:
clf.predict(test[features])

In [ ]:
clf.predict_proba(test[features])[0:10]

In [ ]:
# Create actual english names for the plants for each predicted plant class
preds = iris.target_names[clf.predict(test[features])]

In [ ]:
# View the PREDICTED species for the first five observations
preds[0:5]

In [ ]:
# View the ACTUAL species for the first five observations
test['species'].head()